<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <%= require('html-loader!../../components/header/header.ejs')  %>
    <div class="content">3444</div>
    <img src=<%= require('../../resource/emo.png') %> />
    <%= require('html-loader!../../components/footer/footer.ejs')  %>
  </body>
</html>

